h2{
  margin: auto;
}

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  margin-bottom: 10%;
  margin-top: 5%;

}

@media only screen and (max-width: 600px) {
  .galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
