<!-- <figure>
   
    <div>
        <h3>nombre:</h3>
        <p class="nombre">{{rol.personaje.nombre}} </p>
    </div>
    <div>
        <h3>Don: </h3>
        <p> {{ rol.personaje.don}}</p>
    </div>
    <div>
        <h3>descripcion:</h3>
        <p> {{rol.personaje.descripcion}}</p>
    </div>
    <div>
        <h3>género: </h3>
        <p>{{rol.personaje.genero}}</p>
    </div>
    <div>
        <h3>rol: </h3>
        <p>{{rol.personaje.rol}}</p>
    </div>
   

</figure>

<a routerLink="../">Back to Characters</a> -->
