figure {
  width: 15vw;
  height: 35vh;

  border: 2px solid black;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  text-transform: uppercase;
  // background-image: url(../../../../assets/);
  background-color: yellow;
  margin-bottom: 5%;

  img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    // border: solid 2px black;
    padding: 1%;
    background-color: red;
  }
}
