.home {
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    padding: 2%;
    color: whitesmoke;
  }

  p {
    font-size: 1.5rem;
    padding: 1.5%;
    color: whitesmoke;
    margin: 0 15%;
  }


 div{
  display: flex;
  justify-content: center;
  

  img{
    width: 95%;
    height: auto;

    margin: 0% auto;
  }
 }
 



}
