<section class="home">

<h1>FAN PAGE MY HERO ACADEMY</h1>

<img src="../../../assets/villanos_heroes.png" alt="">

<p>My Hero Academia (僕のヒーローアカデミア Boku no Hīrō Akademia) es una serie de manga escrita e ilustrada por Kōhei Horikoshi</p>

<p>La historia tiene lugar en un mundo donde el 80% de la población ha desarrollado «dones», surgiendo así héroes y villanos. Entre el 20% de personas sin dones, se encuentra Izuku Midoriya, cuyo mayor deseo es poder estudiar en la U.A. y convertirse en un héroe como su ídolo All Might. Un día, tras conocer personalmente a All Might, este le ofrece heredar sus poderes al ver su gran determinación a pesar de haber nacido sin don. Midoriya accede y empieza a estudiar en la U.A, donde hace nuevos amigos, conoce otros héroes profesionales, aprende a dominar sus poderes y se enfrenta a auténticos villanos.</p>


</section>