h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  padding: 1%;
  color: whitesmoke;
  text-transform: capitalize;
 margin:auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  

  label {
    width: 40vw;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 1%;
    text-align: right;
  }
  input {
    border: none;
    border-radius: 8%;
    padding: 0.3%;
    margin-left: 1%;
    width: 50vw;
    font-size: 1.8rem;
    &:focus {
      outline: none;
      background-color: yellow;
    }
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #check {
    width: 30px;
    height: 30px;
    border-radius: 10%;
  }

  button{
    width: auto;
    padding: 1%;
    margin: 0 auto;
    background: yellow;
    border-radius: 8%;
    font-size: 1.5rem;
    margin-bottom: 5%;

    &:hover{
      background-color: white;
      transition: all 0.4s;
    }

  }

  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 1.5rem;
    }

    div {
      margin-bottom: 4%;
      font-size: 0.8rem;
    }

    label {
      font-size: 1.5rem;
    }

    input {
      width: 50%;
    }
  }
}
