@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
* {
  font-family: "Schoolbell", cursive;

  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  width: 100vw;
  height: 90vh;
  background-color: #dc1a28;
  background-attachment: fixed;
  background-image: url(./assets/background-2013175__340.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  
  font-size: 3rem;
  font-weight: bolder;
  padding: 2%;
  color: whitesmoke;
  text-transform: capitalize;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  padding-bottom: 0.7%;
  width: fit-content;
  margin-bottom: 2%;
}


@media only screen and (max-width: 600px){

  h2{
    font-size: 2rem;
  }
}